@using loadingpanel.ViewModels
@model IEnumerable<SendEmailViewModel>
@{
    ViewData["Title"] = "Awesome Depiction of a MVC Grid...";
}
<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <h2><i class="fa fa-audio-description" aria-hidden="true"></i>&nbsp;<i>Awesome Depiction</i> of a DataTable Grid...</h2>
            <p>@ViewData["Message"]</p>

            <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Name)</th>
                        <th>@Html.DisplayNameFor(model => model.Email)</th>
                        <th>@Html.DisplayNameFor(model => model.Subject)</th>
                        <th>@Html.DisplayNameFor(model => model.Message)</th>
                        <th>@Html.DisplayNameFor(model => model.TimeStampSent)</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Name)</th>
                        <th>@Html.DisplayNameFor(model => model.Email)</th>
                        <th>@Html.DisplayNameFor(model => model.Subject)</th>
                        <th>@Html.DisplayNameFor(model => model.Message)</th>
                        <th>@Html.DisplayNameFor(model => model.TimeStampSent)</th>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>
    <script src="http://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
    </script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script>

        //$(document).ready(function () {
        //    $('#example').DataTable({
        //        "ajax": {
        //            "url": "/DataTables/GetEmailData",
        //            "dataSrc": ""
        //        },
        //        "columns": [
        //            { "data": "fromName" },
        //            { "data": "toEmailAddress" },
        //            { "data": "toSubject" },
        //            { "data": "toMessage" },
        //            { "data": "emailSentTimeStamp" }
        //        ]
        //    });
        //});

        $.ajax({
            type: "GET",
            url: "/DataTables/GetEmailData",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (mems) {
                var aData = mems;
                $('#example').DataTable({
                    data: mems,
                    "columns": [
                        { "data": "fromName" },
                        { "data": "toEmailAddress" },
                        { "data": "toSubject" },
                        { "data": "toMessage" },
                        { "data": "emailSentTimeStamp" }
                    ]
                })
            },
            error: function (e) {
                alert(e);
            }
        });

    </script>
</body>
</html>
